<h3>Welcome to the NadiaTutor - The ultimate math genius producing app... </h3>
<div class="hero-unit">
	<h1>You have <%= Ledger.where(user_id:current_user.id).count(:cents)%> cents right now <%= current_user.name %></h1>
	<h2> Felling fancy? <%= link_to 'Let\'s answer some questions!', new_question_path  %> </h2>
